# Buildozer cache/build folders
.buildozer/
.buildozer/*

# Python virtual environments
venv/
env/
kivy_venv/
buildozerenv/

# Python cache
__pycache__/
*.pyc
*.pyo

# APK and build outputs
*.apk
*.aab
bin/
*.zip

# Mac / Windows system files
.DS_Store
Thumbs.db

# VSCode
.vscode/